<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Kantor walutowy</title>
    </head>
    <body>
        <style>
            body{background: #C0C0C0 ;}
            marquee{ background: hsl(51, 82%, 52%); font-size: 20px; padding-top: 6px; margin: -23px; cursor:pointer;color: red;}
            .heading{color:rgb(62, 119, 67); position: absolute; top:1%; width: 100%; text-align: center; font-size: 170px; text-shadow: 40px 40px 60px #000000;}
        </style>



        <img src="{{ url_for('static',filename='dolars-background.jpg')}}" alt="flag" height="870" width="1880">
        <marquee> Witam na mojej stronie kantoru walutowego online</marquee>

        <h1 class="heading"><strong>Kantor walutowy</strong> </h1>
        
    </body>
    
    


</html>